.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #004B91;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 21px;
  margin: 4.5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

body {
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  min-width: 900px;
}

.logindiv {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.editlst, .imglist, .logindiv {
  margin-right: auto;
  margin-left: auto;
}

.test {
  width: 100%;
  height: auto;
  position: relative;
}

#video {
  width: 100%;
  height: auto;
  z-index: 20;
  top: 0;
  left: 0;
  position: relative;
}

#canvas {
  width: 100%;
  height: auto;
  z-index: 20;
  top: 0;
  left: 0;
  position: relative;
}

.imgtest {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 20;
  top: 0;
  left: 0;
}

.overdiv {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 21;
  top: 0;
  left: 0;
}

.down {
  position: relative;
}

.heart {
  width: 35px;
  height: 30px;
}

.footer {
  position: fixed;
  z-index: 25;
  bottom: 0px;
  margin: 0;
  height: 35px;
  width: 100%;
  background-color: #004b91;
}

.form_fields {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  resize: none;
  padding-left: 0.25rem;
}

.logoimg {
  width: 100%;
  margin-bottom: 5px;
  height: auto;
}

.linediv {
  border: 1px;
  border-style: solid;
  width: 100%;
  height: 0px;
  border-color: #ced4da;
}

.logindiv {
  border-radius: 3px;
  padding: 30px;
  background: white;
  width: 25rem;
  z-index: 26;
  margin-top: 5%;
}

.all {
  overflow: hidden;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin: 1em;
}

.descdiv {
  word-break: break-all;
}

.com {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 5px;
  border-color: black;
  text-align: left;
  margin: 5px;
  padding: 10px;
  word-break: break-all;
  border: 2px;
  border-style: solid;
}

.imgmin {
  width: 130px;
  height: auto;
}

.share {
  background-color: #004b91;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.imgrp {
  margin: 1em;
  padding: 0.5em;
  width: 110px;
  min-width: 0;
  font-family: monospace;
  flex: 5;
}

.topnav {
  background-color: #004b91;
  overflow: hidden;
  z-index: 26;
  position: sticky;
  top: 0px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #3897f0;
  color: white;
}

.topnav a.active {
  background-color: #3897f0;
  color: white;
}

.img {
  width: auto;
  height: auto;
  z-index: 20;
  max-width: 100%;
  max-height: 100%;
}

.hide {
  background-color: #a6e7fc;
  width: 100%;
  height: auto;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  position: static;
  top: 0;
  left: 0;
}

.imglist {
  text-align: center;
  margin-bottom: 1em;
  max-width: 800px;
  padding: 30px;
  background-color: #ededed;
  z-index: 24;
}

.editlst {
  margin-bottom: 1em;
  max-width: 800px;
  padding: 30px;
  background-color: #ededed;
  z-index: 24;
}

.flex-container {
  overflow: hidden;
  display: flex;
  margin: 1em;
}

.item {
  margin: 1em;
  padding: 0.5em;
  width: 110px;
  min-width: 0;
  background-color: #ededed;
  text-align: center;
  font-family: monospace;
  flex: auto;
}

.submit_fields {
  background-color: #3897f0;
  border: none;
  width: 100%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  border-radius: 0.25rem;
  border: 3px solid #3897f0;
}
.submit_fields:hover {
  border: 3px solid #ced4da;
  background-color: #5ca7ee;
}

p, h5, h4, h3, h2, h1, .pleft, .pright, a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: black;
}

a {
  color: #3897f0;
}

.pfooter {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  text-align: right;
  font-weight: bold;
  color: #fafafa;
  margin: 0px;
  padding-top: 3px;
  padding-right: 20px;
}

.pright {
  text-align: right;
}

.pleft {
  text-align: left;
}

h1 {
  text-align: center;
}

a:link {
  text-decoration: none;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

h5 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
