
// Body
$instablue : #3897f0;
$instaok : #5ca7ee;
$instaon : #004b91;
$pcolor : black;
$body_color  : #fafafa;

//Fields
$colorfields : #495057;
$backfields : #fff;
$borderfields : #ced4da;

//Submit
$colorsubmit : #ffffff;
$backsubmit : $instablue;
$colorvalsubmit : $instaok;
$bordersubmit : #ced4da;

$white : white;

$backcolorimg : #ededed;
$backcolormenu : $instaon;

