@import '_mixins.scss';
@import '_colors.scss';
@import 'toggle.scss';
body{
	background-color: $body_color;
	margin: 0;
	padding: 0;
	min-width: 500px;
}

%boxshadow{
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

%centerdiv{
	margin-right: auto;
	margin-left: auto;
}

.heart{
	width: 35px;
	height: 30px;
}

.footer {
	position: fixed;
	z-index: 25;
	bottom: 0px;
	margin: 0;
	height: 35px;
	width: 100%;
	background-color: $instaon;
}

.form_fields {
	display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: $colorfields;
    background-color: $backfields;
    background-clip: padding-box;
    border: 1px solid $borderfields;
	border-radius: .25rem;
	padding-left: .25rem;
}

.logoimg{
	width: 100%;
	margin-bottom: 5px;
	height: auto;
}

.linediv{
	border: 1px;
	border-style: solid;
	width: 100%;
	height: 0px;
	border-color: $borderfields;
}

.logindiv{
	@extend %boxshadow;
	border-radius: 3px;
	padding: 30px;
	background: $white;
	width: 25rem;
	z-index: 26;
	margin-top: 5%;
	@extend %centerdiv;
}

.all{
	overflow: hidden;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 1em;
}

.com{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border : 5px;
	border-color: black;
	text-align: left;
	margin: 5px;
	padding: 10px;
	word-break:break-all;
	border : 2px;
	border-style: solid;
}

.share {
	background-color: $backcolormenu; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }

.imgrp{
	margin: 1em;
	padding: 0.5em;
	width: 110px;
	min-width: 0;
	font-family: monospace;
 	 flex : 5;
}

.menuitem {
	margin: 1em;
	padding: 0.5em;
	width: 110px;
	min-width: 0;
	color: white;
	font-family: monospace;
 	flex : auto;
}

.menu {
	height: auto;
	position: absolute;
	z-index: 26;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border : 5px;
	border-color: white;
	border-style: $instaon;

  }
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin: 25px;
  }

  li {
	float: left;
  }

  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	background-color: $backcolormenu;
	text-decoration: none;
  }

  li a:hover {
	background-color: $instaok;
  }


.img{
	width : auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.hide{
	background-color: #a6e7fc;
	width: 100%;
	height: auto;
	padding-top: 1px;
	padding-bottom: 1px;
	text-align: center;
	position: static;
	top: 0;
	left: 0;
  }

.imglist{
	@extend %centerdiv;
	text-align: center;
	margin-bottom: 1em;
	max-width: 800px;
	padding: 30px;
	background-color: $backcolorimg;
	z-index: 24;

}

.editlst{
	@extend %centerdiv;
	margin-bottom: 1em;
	max-width: 800px;
	padding: 30px;
	background-color: $backcolorimg;
	z-index: 24;

}

.flex-container {
	overflow: hidden;
	display: flex;
	margin: 1em;
 }
.item {
	margin: 1em;
	padding: 0.5em;
	width: 110px;
	min-width: 0;
	background-color: $backcolorimg;
	text-align: center;
	font-family: monospace;
	flex: auto;
  }

.submit_fields {
	background-color: $backsubmit;
	border: none;
	width: 100%;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	color: $white;
	border-radius: .25rem;
	border: 3px solid $backsubmit;
	&:hover{
		border: 3px solid $borderfields;
		background-color: $colorvalsubmit;
	}
  }


p {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	color: $pcolor;
}

a {
	@extend p;
	color: $instablue
}

.pfooter {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	text-align: right;
	font-weight: bold;
	color: $body_color;
	margin : 0px;
	padding-top: 3px;
	padding-right: 20px;
}

.pright{
	@extend p;
	text-align: right;
}

.pleft{
	@extend p;
	text-align: left;
}

h1{
	@extend p;
	text-align: center;
}

h2{
	@extend p;
	text-align: center;
}

h3{
	@extend p;
	text-align: center;
}

h4{
	@extend p;
	text-align: center;
}

h5{
	@extend p;
	text-align: center;
}